@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,700&family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
}
/* Navigasi */
.navbar {
  background-color: #142344;
  color: #fcfcfc;
  font-size: 14px;
}
.navbar-brand {
  font-weight: bold;
  font-size: 16px;
}
/* End Navigasi */
/* Hero */
#hero {
  background-color: #1d2d50;
  height: 100vh;
}
.jumbotron {
  padding-top: 18%;
  color: #fcfcfc;
}
.jumbotron h3 {
  font-size: 24px;
  font-weight: 700;
}
/* End Hero */
/* About */
#about-me {
}
.about-me-content {
  align-items: center;
}
.about-me-text {
  padding: 50px 200px;
  line-height: 2em;
}
/* End About */
/* PHONE */
@media only screen and (max-width: 870px) {
  #hero {
    height: 70vh;
  }
  .profile {
    display: none;
  }
  .about-me-text {
    text-align: center;
  }
  .navbar-nav {
    text-align: center;
  }
}
