@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,700&family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Navigasi */
.navbar {
  background-color: #142344;
  color: #fcfcfc;
  font-size: 14px;
}
.navbar-brand {
  font-weight: bold;
  font-size: 16px;
}
/* End Navigasi */
/* Hero */
#hero {
  background-color: #1d2d50;
  height: 100vh;
}
.jumbotron {
  padding-top: 18%;
  color: #fcfcfc;
}
.jumbotron h3 {
  font-size: 24px;
  font-weight: 700;
}
/* End Hero */
/* About */
.about-me-content {
  justify-content: center;
  align-items: center;
}
.about-me-text {
  padding-top: 50px;
  padding-bottom: 150px;
  padding-left: 200px;
  padding-right: 200px;
}
/* End About */
/* Service */
.services-content {
  font-size: 12px;
  background-color: #fcfcfc;
  padding: 20px 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -0.125rem 1.25rem rgba(0, 0, 0, 0.09) !important;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  border-radius: 10px;
}
.content-items {
  padding: 10px;
}
.content-items h4 {
  font-size: 16px;
  font-weight: 600;
}
.content-items h4 {
  margin-top: 10px;
}
#services-mobile {
  display: none;
}
/* End Service */
/* Portfolios */
#portfolio {
  background-color: #1d2d50;
}
#portfolio h4 {
  padding-top: 150px;
  color: #fcfcfc;
}
.portfolios-content {
  padding-bottom: 100px;
}
.col {
  margin-top: 20px;
  font-size: 12px;
}
.card img {
  z-index: 2;
}
.card {
  position: absolute;
  position: unset;
  width: 14rem;
  height: 14rem;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
.card:hover {
  width: 15rem;
  height: 22rem;
  font-size: 14px;
}
/* End Portfolios */
/* PHONE */
@media only screen and (max-width: 870px) {
  .navbar-nav {
    padding-left: 15px;
    margin-bottom: 0;
  }
  #hero {
    max-height: 60vh;
  }
  .about-me-text {
    text-align: center;
  }
  .navbar-nav {
    text-align: center;
  }
  .about-me-text {
    padding: 30px 30px;
  }
  .services {
    display: none;
  }
  #services-mobile {
    display: block;
  }
  .col {
    margin-top: 20px;
  }
  #portfolio h4 {
    padding-top: 50px;
  }
}
